/* 设置字体图标 */
.iconfont {
  margin-right: 10px;
}
/* 设值icon图标的边距 */
.app {
  margin: 0 15px;
}
/* 设置文字的大小 */
.text {
  font-size: 13px;
}
/* 公共类文字居中 */
.center {
  text-align: center;
}
/* 文字的图片 */
.textAvatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #009688;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
.textAvatar {
  display: none;
}

/* 侧边欢迎语 */
#welcome {
  color: #fff !important;
}
/* 页面用来展示的区域 */
.overflow {
  overflow: hidden;
  /* 消除下拉条 */
}
.content {
  width: 100%;
  height: 100%;
}
/* 左侧导航区域头部盒子 */
.layui-side .userInfo {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
