* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  background-image: url(/assets/images/login_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  margin-top: 30px !important;
}

.loginregist {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
/* 表单标题 */
.title {
  height: 60px;
  background-image: url(/assets/images/login_title.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* 设置表单padding */
.login,
.regist {
  padding: 0 30px;
}
/* input文字缩进 */
form input {
  text-indent: 1em;
}
.layui-form-item {
  position: relative;
}
/* 字体图标公共类 */
.icon {
  position: absolute;
  top: 10px;
  left: 5px;
}
/* 左浮动公共类 */
.float {
  float: right;
}
/* 注册表单默认隐藏 */
.regist {
  display: none;
}
